# ⚠️ The following credential-based files must absolutely NEVER be committed!!! 
*secret*                                                                        
pat.txt                                                                         
